parameters:

php:
	date.timezone: Europe/Bratislava

database:
	default:
		dsn: %database.default.dsn%
		user: %database.default.user%
		password: %database.default.password%

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\RouterFactory::createRouter

	# Repositories
	settingsRepository: App\Model\Repository\SettingsRepository
	projectRepository: App\Model\Repository\ProjectRepository

	# Factories
	settingsFormFactory: App\Components\SettingsForm\SettingsFormFactory
	projectFormFactory: App\Components\ProjectForm\ProjectFormFactory

	gitlabClient:
		class: Gitlab\Client(@settingsRepository::getGitlabUrl())
		setup:
			- authenticate(@settingsRepository::getToken(), Gitlab\Client::AUTH_URL_TOKEN)

	mergeRequestBuilder: App\Model\GitLab\MergeRequestBuilder(@settingsRepository::getToken())

	# Nette template filters
	filterLoader:
		class: App\Helper\FilterLoader
		setup:
			- register('enabledStatus', [App\Helper\EnabledStatus, process])
			- register('projectVisibility', [App\Helper\ProjectVisibility, process])

	nette.latteFactory:
		setup:
			- addFilter(null, [@filterLoader, 'load'])